/* your code here */
.add-to-cart {
	background: #1a8917;
	color: white;
	padding: 12px 25px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.3s ease;
}

.add-to-cart:hover {
	background: #146e12;
}
